<section id="hero" class="hero">
  <div class="floating-orb"></div>

  <div class="container mx-auto px-4 relative z-10">
    <div class="max-w-5xl mx-auto text-center">
      {{ with .title }}
        <h1 class="title">
          {{ . | markdownify }}
        </h1>
      {{ end }}

      {{ with .text }}
        <p class="text mx-auto">{{ . | markdownify }}</p>
      {{ end }}

      {{ if .buttons }}
        <div class="buttons justify-center">
          {{ range .buttons }}
            <a href="{{ .link }}">{{ .label }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>
