{{ define "main" }}
  {{ $lang := .Site.Language.Lang }}
  {{ $data := index .Site.Data $lang }}
  {{ with $data.home.hero }}{{ if .enable }}{{ partial "blocks/home/hero.html" . }}{{ end }}{{ end }}
  {{ with $data.home.services }}{{ if .enable }}{{ partial "blocks/home/services.html" . }}{{ end }}{{ end }}
  {{ with $data.home.why }}{{ if .enable }}{{ partial "blocks/home/why.html" . }}{{ end }}{{ end }}
  {{ with $data.home.cta }}{{ if .enable }}{{ partial "blocks/home/cta.html" . }}{{ end }}{{ end }}
{{ end }}
